@font-face {
    font-family: "RubikMonoOne";
    src: url("/fonts/RubikMonoOne.ttf") format("truetype");
}
@font-face {
    font-family: "ShareTechMono";
    src: url("/fonts/ShareTechMono.ttf") format("truetype");
}
